<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-slate-100">

  <div class="shadow-2xl" id="banner">
    
    <section class="absolute w-2/3 top-1/2 left-1/2 -translate-x-1/2 text-center">
      <form class="space-x-10" action="/add-link" method="post">
        <p class="text-2xl mb-5 text-white font-semibold">Youtube2Wav</p>
      <input class="text-2xl w-3/4" type="text" name="link" id="link" placeholder="Ingresa una URL" required>
      <button type="submit" class="bg-black text-white text-2xl px-10">Add to list</button>
      </form>
      
    </section>
  </div>

  <section class="bg-white shadow-xl m-5 py-2">
    <h1 class="m-5 text-xl font-bold">Lista de Enlaces</h1>
  <ul class="space-y-5 m-5">
    <% links.forEach((link) => { %>
      <li class="flex border space-x-2">
        <img class="w-20 h-20" src="<%= link.thumbnailUrl %>" alt="">
        <div class="flex items-center place-content-between titlebuttons">
          <a href="<%= link.url %>">
            <%= link.title %>
          </a>
          <div class="loader" id="loader<%= link.id %>" style="display: <%=  link.onServer ? "none" : "block" %>; margin: 0 0.75rem;"></div>
          <div class="mr-3" id="buttons<%= link.id %>" style="display: <%= link.onServer ? "flex" : "none" %>;">
            
            <form action="/download" method="get">
              <button type="submit" name="id" value="<%= link.id %>">
                <img class="w-6" src="https://cdn.icon-icons.com/icons2/2518/PNG/512/download_icon_151382.png" alt="">
              </button>
            </form>
            <form action="/delete" method="post">
              <button type="submit" name="id" value="<%= link.id %>">
                <img class="w-6" src="https://cdn.icon-icons.com/icons2/1919/PNG/512/biggarbagebin_121980.png" alt="">
              </button>
            </form>
          </div>
        </div>
        
      </li>
    <% }); %>
  </ul>
  </section>
  
  <script src="/script.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('updateButtonsState', (newState) => {
      const misBotones = document.getElementById('buttons' + newState.id)
      const miLoader = document.getElementById('loader' + newState.id)
      misBotones.style.display = newState.display;
      miLoader.style.display = "none";

    });
  </script>
</body>
</html>

